nav{
    display: flex;
    place-items: grid;
    padding: 0%;
    justify-content: center;
    background-color: black;
    padding: 10px;
}

.logo{
    color: orangered;
    padding-top: 0%;
    padding-right: 30px;
    font-family: sans-serif;
}
.button{
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    background: orangered;
    color: white;
}
.button :hover{
    transition: 300ms;
    color: black;
}
.image-container{
    position: relative;
    text-align: center;
}

.image-container img{
    width: 100%;
    height: auto;
}

.image-text{
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: sans-serif;
}

.image-text2{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: sans-serif;
}

.image-button{
    position: absolute;
    top:70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white !important;
    padding: 50px 50px !important;
    border-radius: 50px;
    
    
}
.image-button button{
    color:white;
    background-color:orangered;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    padding: 5%;
    margin: 3%;
      padding: 10px 15px;
    border: none;
    border-radius: 50px;
    background: orangered;
    color: white;
}
 body{
    background-color: black;
    font-family: sans-serif;
 }
 .body-text{
    color: orangered;
    text-align: center;
 }

 .body-text2{
    color: orangered;
   text-align: center;
   border: 5px solid rgb(37, 33, 33);
   background-color: rgb(35, 33, 33);
   border-radius: 30px;
   border-bottom: 3px;
 }
 
 .content1{
    color: white;
    padding-top: 0px;
    
 }

 .header-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
 }

 .header-item{
    width: 40%;
     border: 2px solid rgb(37, 31, 31);
     background-color: rgb(37, 31, 31);
     padding: 20px;
     
 }

 .header-item h3{
    color: orangered;
 }

  .caption {
    color: white;
 }

 .menu-container{
   
   padding: 10px;
   border-radius: 20px;
   background-color:rgb(37, 31, 31)  ;
   
   
   
 }
   
 .container{
    color: white;
    text-align: center;
    justify-content: center;
    display: grid;
 }
 .menu-container h3{
    color:orangered;
    text-align: center;
 }

 .menu-container img{
    width: 80%;
    justify-content: center;
    display: flex;
    border-radius: 30px;
 }

 .menu-container h4{
    color: white;
    text-align: center;
 }
 .image-container{
    display: flex;
    justify-content: center;
 }

 .menu-container1{
    display: flex;
    gap: 20px;
    text-align: center;
 }


 .image-container1{
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(103, 96, 96);
    border-radius: 30px;
    padding-top: 10px;
    background-color: rgb(37, 31, 31);
    padding-bottom: 10px;
 }
 .image-container1 img{
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 20px;
    border-radius: 30px;

 }
 img{
    display: block;
    margin: 0 auto;
 }



 .text h3{
    color: white;
    width: 50%;
    justify-content: center;
    align-content: center;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 5px;
 }
 .text h4{
    color: orangered;
    width: 50%;
    justify-content: center;
    align-content: center;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 5px;
 }

 .exclusive{
    display: block;
    margin: 0 auto;
    border: 1px solid rgb(37, 31, 31);
    padding-top: 5px;
    background-color: rgb(37, 31, 31);
    border-radius: 30px;
    border-width: 5px;

 }
 .exclusive h2{
    color :white;
    text-align: center;
 }
 .exclusive h4{
    color: white;
    text-align: center;
 } 
 .exclusive button{
    text-align: center;
    display: block;
    margin: 0 auto;
    color:white;
    background-color: orangered;
    padding: 10px;
    border-radius: 10px;
 }

 .comments{
    color: orangered;
    text-align: center;
 }

.comment1{
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    
}

.comment0{
    border: 2px solid orangered;
    padding:10px;
    margin: 5px;
    width: 50%;
    border-radius: 20px;
}

.text{
    color: orangered;
}


.footer{
    color: orangered;
    text-align: center;
    border: 2px solid rgb(50, 47, 47);
    background-color:rgb(35, 33, 33) ;
    border-radius: 15px;
}

.footer1 h2{
    color: white;
}
.footer2 button{
    color: orangered;
}



 











